<!DOCTYPE html>
<html>
<head>
  <title>Hello World</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>body {font: normal 16px Helvetica; margin: 4em;}</style>
</head>
<body>
  <h2>
    Hello How are You?
  </h2>

  <p>
    Running on Nginx 
    <% if node[:ec2] %>in an Amazon <code><%= node[:ec2][:instance_type] %></code> instance<% end %>
  </p>
</body>
</html>
